<button onclick="showRegForm()" style="display: block; margin: auto; width: auto; padding: 0.75rem; margin-bottom: 0.25rem; border-radius: 20px;">Click here to register</button>
<p class="text-center text-muted">&copy; Copyright 2020 The Awesome People</p>