
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The GroupChat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        *{
        margin: 0;
        padding: 0;
    }
    body{
        background-color: beige;
        padding: 2rem;
    }
    body a{
        text-decoration: none;
    }
    .custom-btn{
        border-radius: 10px;
        border: solid black thin;
        background-color: rgba(255, 255, 255, 0);
    }
    .custom-btn:hover{
        background-color: black;
        border:none;
        color: white;
    }
    .header-section{
        width: 325px;
        height: auto;
        box-sizing: border-box;
        padding: 0.25rem;
        margin: auto;
        display: block;
    }

    .costome-container{
        padding: 0.75rem;
        margin: auto;
        width: max-content;
    }
    .costome-container input{
        margin: 0.5rem 0.25rem;
        padding: 0.75rem;
    }
    </style>