  <div class="header-section">
      <h1 align="center">Hello, Welcome to<br/>Group<span style="text-decoration: underline; color: red;">Chat</span></h1>
      <p align="center">Please <a href="" onclick="showLoginForm()">login</a> to get started</p>
  </div>