<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
        <div class="chat-container">
            <div class="chat-message-area" id="chat-message-area">

            </div>
            <div class="typing-area">
                <input type="text" class="field" name="message" id="UserMessage" placeholder="Your Message..."><input type="button" value="Send" onclick="sendMessage()">
            </div>
        </div>
    <%- include('../partials/footer'); %>
    <%- include('../partials/script'); %>
</body>
</html>