<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
        <div class="chat-container">
            <div class="chat-message-area">
                <textarea name="chatboard" id="chatboard" style="width: 100%; height: 100%;">

                </textarea>
            </div>
            <div class="typing-area">
                <input type="text" name="message" id="UserMessage" placeholder="Your Message..."><input type="button" value="Send">
            </div>
        </div>
    <%- include('../partials/footer'); %>
    <%- include('../partials/script'); %>
</body>
</html>