<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <div style="display: block; margin: auto; width: 480px; align-content: center;">
        <h1 style="color: red;">Error 820!</h1>
        <p>Something terribly went wrong, please refresh the page</p>
        <a href="http://localhost:8080/">Go back to home page</a>
    </div>
    <%- include('../partials/footer'); %>
    <%- include('../partials/script'); %>
</body>
</html>