<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
<p align="center">Please <a href="" onclick="showLoginForm()">login</a> to get started</p>
<div class="costome-container" id="loginform">
    <form action="">
        <input type="text" name="username" id="username" placeholder="Username...">
        <br />
        <input type="password" name="password" id="password" placeholder="Password">
        <br />
        <input type="submit" value="Submit" id="submit" class="custom-btn"> <input type="submit" value="Reset" id="reset" class="custom-btn">
    </form>
</div>
<div class="costome-container" id="regform" style="display: none;">
    <form action="">
        <input type="text" name="firstname" id="firstname" placeholder="First Name">
        <br />
        <input type="text" name="lastname" id="lastname" placeholder="Last Name">
        <br />
        <input type="email" name="email" id="email" placeholder="Email">
        <br />
        <input type="text" name="username" id="username" placeholder="Username...">
        <br />
        <input type="password" name="password" id="password" placeholder="Password">
        <br />
        <input type="submit" value="Submit" id="submit" class="custom-btn"> <input type="submit" value="Reset" id="reset" class="custom-btn">
    </form>
</div>
<button onclick="showRegForm()" style="display: block; margin: auto; width: auto; padding: 0.75rem; margin-bottom: 0.25rem; border-radius: 20px;">Click here to register</button>
    <%- include('../partials/footer'); %>
    <%- include('../partials/script'); %>
</body>
</html>