<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <div style="display: block; margin: auto; width: 480px; align-content: center;">
        <h1 style="color: rgb(0, 223, 0);">Registered</h1>
        <p>Your registration is successful</p>
        <a href="http://localhost:8080/chatboard">Click here to enter Groupchat</a>
    </div>
    <%- include('../partials/footer'); %>
    <%- include('../partials/script'); %>
</body>
</html>